#include "eulerpm.h"



POINTER ID_TextWindow 
BEGIN
	'42 41 5C 00 00 00 00 00 00 00 00 00 00 00 43 50'
	'4E 00 00 00 10 00 10 00 F2 00 00 00 40 00 00 00'
	'20 00 00 00 40 00 00 00 01 00 01 00 00 00 00 00'
	'00 01 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'FF FF FF 00 43 50 4E 00 00 00 10 00 10 00 F2 01'
	'00 00 40 00 00 00 20 00 00 00 20 00 00 00 01 00'
	'04 00 00 00 00 00 00 02 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 FF 00 00 00 00 00 FF 00 FF 00'
	'FF 00 00 FF 00 00 FF FF 00 00 00 FF FF 00 00 00'
	'00 00 80 80 80 00 80 00 00 00 00 00 80 00 80 00'
	'80 00 00 80 00 00 80 80 00 00 00 80 80 00 CC CC'
	'CC 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF FF FF FF FF FF FF FF FF FF FC FF'
	'FF FF FC FF FF FF FC FF FF FF FC FF FF FF FC FF'
	'FF FB C0 00 00 01 C0 00 00 01 FC FF FF FB FC FF'
	'FF FF FC FF FF FF CC FF FF FF CC FF FF FF CC FF'
	'FF FF FC 3F FF FF FC 3F FF FF FC 3F FF FF FC FF'
	'FF FF FC FF FF FF FC F3 FF F3 FC F3 FF F3 FC F3'
	'FF F3 FC FF FF FF FC FF 9E 7F FC FF 9E 7F FC FF'
	'9E 7F F8 7F FF FF FC FF FF FF FF FF FF FF FF FF'
	'FF FF 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 22 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 22 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 22 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 22 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 22 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 22 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 22 77 77 77 77 77 77 77'
	'22 77 77 77 77 77 77 77 22 77 77 77 77 77 77 77'
	'22 77 77 77 77 77 77 77 22 77 77 77 77 77 77 77'
	'22 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 72 27 77 72 27 77'
	'77 77 77 77 77 77 77 77 77 77 72 27 77 72 27 77'
	'77 77 77 77 77 77 77 77 77 77 72 27 77 72 27 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77'
END


POINTER ID_GrafWindow 
BEGIN
	'42 41 5C 00 00 00 00 00 00 00 00 00 00 00 43 50'
	'4E 00 00 00 10 00 10 00 F2 00 00 00 40 00 00 00'
	'20 00 00 00 40 00 00 00 01 00 01 00 00 00 00 00'
	'00 01 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'FF FF FF 00 43 50 4E 00 00 00 10 00 10 00 F2 01'
	'00 00 40 00 00 00 20 00 00 00 20 00 00 00 01 00'
	'04 00 00 00 00 00 00 02 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 FF 00 00 00 00 00 FF 00 FF 00'
	'FF 00 00 FF 00 00 FF FF 00 00 00 FF FF 00 00 00'
	'00 00 80 80 80 00 80 00 00 00 00 00 80 00 80 00'
	'80 00 00 80 00 00 80 80 00 00 00 80 80 00 CC CC'
	'CC 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF FF FF FF FF FF FF FF FF FF FC FF'
	'FF FF FC FF FF FF FC FF FF FF FC FF FF FF FC FF'
	'FF FB C0 00 00 01 C0 00 00 01 FC FF FF FB FC FF'
	'FF FF FC FF FF FF CC FF FF FF CC FF FF FF CC FF'
	'FF FF FC 3F FF FF FC 3F FF FF FC 3F FF FF FC FF'
	'FF FF FC FF FF FF FC F3 FF F3 FC F3 FF F3 FC F3'
	'FF F3 FC FF FF FF FC FF 9E 7F FC FF 9E 7F FC FF'
	'9E 7F F8 7F FF FF FC FF FF FF FF FF FF FF FF FF'
	'FF FF 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 22 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 22 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 22 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 22 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 22 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 22 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 22 77 77 77 77 77 77 77'
	'22 77 77 77 77 77 77 77 22 77 77 77 77 77 77 77'
	'22 77 77 77 77 77 77 77 22 77 77 77 77 77 77 77'
	'22 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 72 27 77 72 27 77'
	'77 77 77 77 77 77 77 77 77 77 72 27 77 72 27 77'
	'77 77 77 77 77 77 77 77 77 77 72 27 77 72 27 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77'
END


MENU ID_Menu 
BEGIN
	SUBMENU "~File", 100
	BEGIN
		MENUITEM "~Load ...\tF10", IDM_Load
		MENUITEM "Load ~Demo", IDM_LoadDemo
		MENUITEM SEPARATOR
		MENUITEM "Ne~w Notebook", IDM_NewNotebook
		MENUITEM "Load ~Notebook ...\tAlt-F9", IDM_LoadNotebook
		MENUITEM "~Save Notebook\tAlt-F10", IDM_SaveNotebook
		MENUITEM "Save Notebook ~as ...", IDM_SaveNotebookAs
		MENUITEM SEPARATOR
		MENUITEM "File=...", IDM_SetFile
		MENUITEM "Load ~File\tF4", IDM_LoadFile
		MENUITEM SEPARATOR
		MENUITEM "St~ore Session ...", IDM_Store
		MENUITEM "~Restore Session ...", IDM_Restore
		MENUITEM SEPARATOR
		MENUITEM "Save ~Text ...", IDM_SaveText
		MENUITEM "Save ~Commands ...", IDM_SaveCommands
		SUBMENU "Save ~Graphics"
		BEGIN
			MENUITEM "As ~Bitmap ...", IDM_SaveGraphicsBitmap
			MENUITEM "As ~Metafile ...", IDM_SaveGraphicsMeta
		END

		MENUITEM SEPARATOR
		MENUITEM "~Print Graphics", IDM_PrintGraphics
		MENUITEM SEPARATOR
		MENUITEM "E~xit", IDM_Exit
	END

	SUBMENU "~Edit", 200
	BEGIN
		MENUITEM "~Copy All\tCtrl-Ins", IDM_CopyAll
		MENUITEM "C~opy Commands\tShift-F6", IDM_CopyCommands
		MENUITEM "~Paste All\tShift-Ins", IDM_PasteAll
		MENUITEM "P~aste Commands\tShift-F7", IDM_PasteCommands
		MENUITEM SEPARATOR
		MENUITEM "~Delete Output\tShift-Del", IDM_Cut
		MENUITEM SEPARATOR
		SUBMENU "Copy ~Graphics"
		BEGIN
			MENUITEM "As ~Bitmap", IDM_CopyGraphicsB
			MENUITEM "As  ~Metafile", IDM_CopyGraphicsM
		END

	END

	SUBMENU "~Notebook", 500
	BEGIN
		MENUITEM "~Previous Command\tUp", IDM_PreviousCommand
		MENUITEM "~Next Command\tDown", IDM_NextCommand
		MENUITEM SEPARATOR
		MENUITEM "~Edit Command Text\tF5", IDM_EditText
		MENUITEM "~Delete Command Text\tShift-F5", IDM_DeleteText
		MENUITEM SEPARATOR
		MENUITEM "De~lete Command\tAlt-Delete", IDM_DeleteCommand
		MENUITEM "In~sert Command\tAlt-Ins", IDM_InsertCommand
		MENUITEM SEPARATOR
		MENUITEM "~Remove all Output", IDM_RemoveOutput
		MENUITEM SEPARATOR
		MENUITEM "Insert ~Commands", IDM_InsertCommands
	END

	SUBMENU "~Options", 300
	BEGIN
		MENUITEM "~Edit Text\tF9", IDM_Function
		MENUITEM "Call ~Reset", IDM_Reset
		MENUITEM SEPARATOR
		MENUITEM "~B/W graphics only", IDM_BW
		MENUITEM "~Math errors", IDM_MathErrors
		MENUITEM "~Notebook Colors", IDM_NotebookColors
		MENUITEM "Compute on ~Idle Time", IDM_Idletime
		SUBMENU "~Set"
		BEGIN
			MENUITEM "~Fonts", IDM_SetFonts
			MENUITEM "~Sizes", IDM_SetSizes
			MENUITEM "~Graphics", IDM_SetGraphics
			MENUITEM "~Print", IDM_SetPrint
			MENUITEM "P~ath", IDM_SetPaths
		END

		MENUITEM "Save ~Windows", IDM_SaveWindows
		MENUITEM "S~ave Settings", IDM_SaveSettings
	END

	SUBMENU "~Help", 400
	BEGIN
		MENUITEM "~General Help\tF1", IDM_General
		MENUITEM "Help ~Index\tF2", IDM_Index
		MENUITEM "Help ~Contents\tF3", IDM_Content
		MENUITEM "~Keyboard Help", IDM_Keyboard
		MENUITEM "~Product Information", IDM_Product
	END

END

HELPTABLE ID_HelpTable 
BEGIN
	HELPITEM ID_TextWindow, ID_GeneralSubtable, PANEL_Main
END

HELPSUBTABLE ID_GeneralSubtable
BEGIN
	HELPSUBITEM IDM_General ,PANEL_Main
END


ACCELTABLE ID_Accel
BEGIN
	VK_F1, IDM_General, VIRTUALKEY
	VK_F2, IDM_Index, VIRTUALKEY
	VK_F3, IDM_Content, VIRTUALKEY
	VK_F4, IDM_LoadFile, VIRTUALKEY
	VK_F5, IDM_EditText, VIRTUALKEY
	VK_F5, IDM_ClearText, SHIFT, VIRTUALKEY
	VK_F6, IDM_CopyCommands, SHIFT, VIRTUALKEY
	VK_F7, IDM_PasteCommands, SHIFT, VIRTUALKEY
	VK_F9, IDM_Function, VIRTUALKEY
	VK_F9, IDM_LoadNotebook, ALT, VIRTUALKEY
	VK_F10, IDM_Load, VIRTUALKEY
	VK_F10, IDM_SaveNotebook, ALT, VIRTUALKEY
	VK_INSERT, IDM_PasteAll, SHIFT, VIRTUALKEY
	VK_INSERT, IDM_CopyAll, CONTROL, VIRTUALKEY
	VK_INSERT, IDM_InsertCommand, ALT, VIRTUALKEY
	VK_DELETE, IDM_DeleteCommand, ALT, VIRTUALKEY
	VK_DELETE, IDM_Cut, SHIFT, VIRTUALKEY
END


DLGTEMPLATE DLG_Append
BEGIN
	DIALOG "", 100, -72, 84, 178, 64, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		PUSHBUTTON "~Overwrite", BUT_Overwrite, 6, 4, 51, 14, BS_PUSHBUTTON | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_TABSTOP
		DEFPUSHBUTTON "~Append", BUT_Append, 64, 4, 51, 14, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
		PUSHBUTTON "~Cancel", BUT_Cancel, 121, 4, 51, 14
		CONTROL "File exists !!!", 101, 56, 42, 66, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END




DLGTEMPLATE DLG_Fonts 
BEGIN
	DIALOG "Set Fonts", 100, 7, 21, 263, 120, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "~OK", DID_OK, 8, 8, 51, 14
		PUSHBUTTON "~Cancel", DID_CANCEL, 132, 8, 51, 14
		CONTROL "Graphics Font", 101, 16, 104, 78, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", ID_GraphicsFont, 100, 56, 154, 57, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Scale to", 103, 16, 72, 36, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "lines per screen.", 105, 124, 72, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Printer Font", 106, 16, 88, 78, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", ID_PrinterFont, 100, 40, 154, 57, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Text Font", 108, 16, 56, 47, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", ID_TextFont, 84, 4, 154, 61, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Scale to", 110, 16, 36, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "lines per screen.", 112, 124, 36, 71, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", ID_Lines, 64, 72, 48, 8, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ID_TextLines, 64, 36, 48, 8, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "~Save", DID_SAVE, 68, 8, 51, 14
		CONTROL "~Help", 4, 216, 8, 40, 14, WC_BUTTON, BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE DLG_Sizes 
BEGIN
	DIALOG "Sizes", 100, 29, 21, 240, 163, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "Sample", ID_Stacksize, 72, 135, 70, 19, WC_SLIDER, SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 16, 5, 10, 9
		CONTROL "Sample", ID_TextBuffer, 61, 110, 80, 19, WC_SLIDER, SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 16, 5, 10, 9
		CONTROL "Sample", ID_ClipBuffer, 8, 88, 79, 19, WC_SLIDER, SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 16, 5, 10, 9
		CONTROL "Sample", ID_SizesWidth, 84, 64, 36, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", ID_SizesHeight, 180, 64, 36, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "4", ID_4Bits, 104, 40, 16, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "8", ID_8Bits, 128, 40, 16, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "24", ID_24Bits, 152, 40, 24, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		DEFPUSHBUTTON "~OK", DID_OK, 8, 8, 51, 14
		PUSHBUTTON "~Save", DID_SAVE, 64, 8, 51, 14
		PUSHBUTTON "~Cancel", DID_CANCEL, 132, 8, 51, 14
		CONTROL "~Help", 4, 196, 8, 40, 14, WC_BUTTON, BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Stack Size:", 101, 12, 140, 52, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "MByte.", 103, 153, 140, 28, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Remember", 104, 12, 115, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "KByte of Text.", 106, 146, 115, 60, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "KByte clip input buffer.", 107, 96, 88, 100, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 118, 12, 32, 197, 29, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Save Bitmaps with", 113, 16, 40, 83, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Bits.", 114, 180, 40, 20, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Bitmap Width:", 5, 12, 64, 62, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Height:", 7, 132, 64, 36, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE DLG_Graphics 
BEGIN
	DIALOG "Graphics settings", 100, 12, 24, 250, 161, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "~OK", DID_OK, 16, 7, 51, 14
		PUSHBUTTON "~Cancel", DID_CANCEL, 76, 7, 51, 14
		CONTROL "Show hue with", 101, 8, 109, 200, 48, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Color Palette", ID_Palette, 16, 133, 72, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Logcolors", ID_Logcolor, 88, 133, 60, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Patterns", ID_Patterns, 148, 133, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "3D Colors:", 107, 16, 93, 48, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Foreground", 109, 84, 97, 56, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Background", 110, 84, 81, 56, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Grid", 111, 84, 65, 28, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Pure colors only", ID_Pure, 16, 117, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Use all linestyles", ID_Linestyles, 16, 45, 88, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "~Save", DID_SAVE, 136, 7, 51, 14
		CONTROL "Sample", ID_FG, 148, 69, 80, 35, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", ID_BG, 148, 54, 80, 35, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", ID_Grid, 148, 37, 80, 35, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Help", 4, 202, 8, 40, 14, WC_BUTTON, BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Use PM Markers", ID_UseMarkers, 16, 30, 104, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE DLG_Print 
BEGIN
	DIALOG "Printer", 100, 7, 5, 254, 187, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "~OK", DID_OK, 8, 4, 51, 14
		CONTROL "Printer Queue", 101, 8, 170, 59, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", ID_Queue, 72, 117, 171, 61, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Gray and white", ID_GW, 12, 137, 81, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Both sides white", ID_WW, 96, 137, 88, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Color", ID_Color, 188, 137, 32, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Print 3D as", 106, 8, 129, 227, 29, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", ID_AlignHor, 128, 44, 88, 16, WC_SLIDER, SLS_HORIZONTAL | SLS_CENTER | SLS_HOMELEFT | SLS_BUTTONSBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 101, 1, 10, 9
		CONTROL "Sample", ID_AlignVer, 228, 52, 20, 72, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_BUTTONSLEFT | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 101, 1, 10, 9
		CONTROL "Print position and size:", 109, 12, 108, 101, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", ID_Printsize, 44, 84, 72, 16, WC_SLIDER, SLS_HORIZONTAL | SLS_CENTER | SLS_HOMELEFT | SLS_BUTTONSBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 81, 1, 10, 9
		CONTROL "Size:", 112, 12, 88, 29, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PUSHBUTTON "~Cancel", DID_CANCEL, 128, 4, 51, 14
		PUSHBUTTON "~Save", DID_SAVE, 68, 4, 51, 14
		CONTROL "Sample", 4, 136, 64, 84, 56, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Page", 5, 168, 88, 21, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~Help", 6, 204, 4, 40, 14, WC_BUTTON, BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Clip to Window", ID_Clip, 15, 65, 81, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Color", 8, 12, 32, 26, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Text", ID_ColorText, 56, 28, 36, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Lines", ID_ColorLines, 104, 28, 40, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Marker", ID_ColorMarker, 148, 28, 44, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE DLG_Paths 
BEGIN
	DIALOG "Set Path", 100, 21, 75, 292, 154, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", ID_LoadPath, 108, 139, 168, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ID_TextPath, 108, 123, 168, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ID_StorePath, 108, 107, 168, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ID_GraphicsPath, 108, 90, 168, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ID_NotebookPath, 108, 73, 168, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ID_StartPath, 108, 40, 168, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "~OK", DID_OK, 4, 16, 51, 14
		CONTROL "~Save", DID_SAVE, 72, 16, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "~Cancel", DID_CANCEL, 124, 16, 51, 14
		PUSHBUTTON "~Help", 998, 228, 16, 51, 14, BS_HELP
		CONTROL "Load", 101, 4, 139, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Text/Commands Save", 4, 4, 123, 96, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Store/Restore", 5, 4, 107, 70, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Graphics Save", 6, 4, 91, 78, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Program Start", 7, 4, 40, 70, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Notebooks", 14, 4, 72, 52, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE DLG_Function
BEGIN
	DIALOG "Edit input text", 100, 13, 10, 358, 166, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", ID_Edit, 4, 24, 344, 116, WC_MLE, MLS_BORDER | MLS_HSCROLL | MLS_VSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~OK", DID_OK, 8, 4, 48, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "~Interpret", ID_Interpret, 60, 4, 48, 14, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		PUSHBUTTON "~Cancel", DID_CANCEL, 112, 4, 51, 14
		CONTROL "", ID_Function, 100, 40, 248, 119, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Save", ID_Save, 176, 4, 52, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Load", ID_FLoad, 232, 4, 48, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "~Help", 998, 300, 4, 51, 14, BS_HELP
		CONTROL "Display Function:", 101, 6, 151, 82, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE DLG_Information 
BEGIN
	DIALOG "About Euler", 100, 13, 43, 180, 104, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 56, 9, 51, 14
		CONTROL "Euler for OS/2", 101, 48, 88, 67, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Programmed by R. Grothmann", 102, 24, 59, 129, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL ID_TextWindow, 103, 72, 32, 22, 16, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL "Version 1.00", ID_Version, 52, 75, 59, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE DLG_Text 
BEGIN
	DIALOG "Edit command text", 100, 13, 10, 358, 166, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", ID_Text, 4, 24, 344, 136, WC_MLE, MLS_BORDER | MLS_WORDWRAP | MLS_HSCROLL | MLS_VSCROLL | MLS_IGNORETAB | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~OK", DID_OK, 8, 4, 48, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "~Cancel", DID_CANCEL, 70, 4, 51, 14
		PUSHBUTTON "~Help", 998, 300, 4, 51, 14, BS_HELP
	END

END

